/*为下拉菜单添加的样式*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #ffffff;
    color: #777777;
	display: block;
	font-size: 16px;
    padding: 0px 15px;
    line-height: 60px;
	cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
	opacity: 0.8;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
	background-color: #ffffff;
	opacity:1.0;
    color: #777777;
	font-size: 16px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
	z-index: 2;
}

.likes{
    text-align: center;
    width: 180px;
    height:38px;
    float: right;
    line-height: 30px;
    background: #ffcccc;
    padding: 4px 10px;
    box-shadow: 0 2px 5px;
}

.likes:hover{
    background: #FFB5B5;
}

.likes:active{
    box-shadow: 0 0 0px rgba(0,0,0,0);
}

.likes a:visited{
    width: 160px;
    height:38px;
    float: right;
    line-height: 30px;
    background: #ffcccc;
    padding: 4px 10px;
    box-shadow: 0 1px 5px ;
}

.weixin_pay ul li{
    display: inline;
}

.weixin_pay ul li img{
    margin: 0 5px 0 5px;
}

.share_block {
    background: #3399cc;
    float: right;
    line-height:25px;
    padding:8px 40px
}

.share_block_about {
    background: #3399cc;
    float: right;
    line-height:30px;
    padding:4px 15px 4px 15px;
}

a.person_like{
    color: white;
}

a.person_like:hover{
    color: white;
    text-decoration: none;
}

a.person_like:visited{
    color: white;
    text-decoration: none;
}

.share_block span{
    color: white;
}

.share_block:hover{
    background: #31B2F3;
}

.share_block_about:hover{
    background: #31B2F3;
}

.imgDiv:hover{
    border:1px solid rgba(244,208,0,0.5);
	box-shadow:0 0 10px rgba(244,208,0,3);
	-moz-box-shadow:0 0 8px #DDD;
	-webkit-box-shadow:0 0 8px #DDD;
}

/*  box-shadow:1px 2px 3px 4px #ccc inset ;*/
/*  1px  从原点开始，沿x轴正方向的长度（倘若为负值，为沿x轴负方向的长度）;*/
/*　2px  从原点开始，沿y轴正方向的长度；（倘若为负值，为沿y轴负方向的长度）;*/
/*　3px  阴影的模糊度，只允许为正值 ;*/
/*　4px  阴影扩展半径 ;*/
/*　#ccc  阴影颜色 ;*/
/*　inset  设置为内阴影（如果不写这个值，默认为外阴影）;*/
.imgAli:hover{
    border:2px solid rgba(38,188,213,0.2);
	box-shadow:0 0 8px 20px rgba(244,208,0,0.9);
	-moz-box-shadow:0 0 8px #DDD;
	-webkit-box-shadow:0 0 8px #DDD;
}

.imgTX:hover{
    border:2px solid rgba(255,255,0,0.4);
    /*border:2px solid rgba(38,188,213,0.4);*/
	box-shadow: 0 0 10px 10px rgba(244,208,0,0.9);
	-moz-box-shadow:0 0 8px #DDD;
	-webkit-box-shadow:0 0 8px #DDD;
}

.panel {
    padding: 50px 20px 0px;
    min-height: 400px;
    cursor: default;
}

.text-center {
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    max-width: 1000px;
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .1);
    margin-bottom: 40px;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

img {
    border: 0;
    vertical-align: bottom;
}



.padding-big {
    padding: 20px;
}

.alert {
    border-radius: 5px;
    padding: 15px;
    border: solid 1px #ddd;
    background-color: #f5f5f5;
}

.progress{
    margin-left:150px;
    margin-right: 150px
}

.prograss-before{
    float: left;
    padding-left: 75px;
}


.icon-contact {
    height: 80px;
    margin: auto;
    width: 100%;
    max-width:700px;
}
.icon-contact .fa{
    line-height:70px;
    font-size: 35px;
    width: 70px;
}
.icon-contact .social-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    color: #fff;
    border-radius: 100%;
    margin: 6px;
    text-align: center;
    text-indent: 0px;
}


@media (max-width: 768px) {
    .icon-contact {
        height: 60px;
        margin: auto;
        width: 100%;
    }

    .icon-contact .fa {
        line-height: 50px;
        font-size: 20px;
        width: 50px;
    }

    .icon-contact .social-icon {
        display: inline-block;
        width: 50px;
        height: 50px;
        color: #fff;
        border-radius: 100%;
        margin: 6px;
        text-align: center;
        text-indent: 0px;
    }
}

.icon-contact .sinaweibo{
    background-color: #EC5B5B;
}
.icon-contact .tencentweibo{
    background-color: #2BC0B5;
}
.icon-contact .wechat{
    background-color: #49C085;
}
.icon-contact .qq{
    background-color: #6F92FF;
}
.icon-contact .renren{
    background-color: #7243D4;
}
.icon-contact .github{
    background-color: #7782D1;
}
.icon-contact a{
    color:#fff !important;
}
.icon-contact .icon{
        float:left;
}
.icon-contact .col {
    width: 16.666667%;
    float:left;
    position: relative;
    min-height: 1px;
}
.icon-contact{
max-width:700px;
margin:auto;
text-indent:0px;
}
